* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login {
  width: 100vw;
  height: 100vh;
  background: url("../../public/images/bg_1.jpg") no-repeat center;
  background-size: cover;
  overflow: hidden;

  .login_form {
    width: 400px;
    padding: 30px;
    margin: 36vh auto 0;
    background-color: rgba($color: #fff, $alpha: 0.6);
    border-radius: 5px;
  }

  .login_form_button {
    width: 100%;
  }
}

.container {
  width: 100vw;
  height: 100vh;
}

.container_sider {
  height: 100%;
  background-color: #fff;
  border-right: 1px solid #eee;
}

.container_sider_header {
  display: flex;
  height: 64px;
  align-items: center;
  font-size: 32px;
  padding: 0 26px;
  color: #000;
  background-color: #f9f9f9;
  border-bottom: 1px solid #eee;
}

.container_sider_icon {
  width: 36px;
  height: 36px;
  margin-right: 10px;
}

.container_sider_menu {
  border: 0;
}

.container_header {
  background-color: #fff;
  border-bottom: 1px solid #eee;
}

.container_content {
  overflow: auto;
}
