// 工具函数内的元素类名
.dom-size {
  &.util-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  &.util-shrink, &.util-expand {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    visibility: hidden;
  }

  &.util-shrink-child{
    width: 10000px;
    height: 10000px;
  }

  &.util-expand-child {
    width: 200%;
    height: 200%;
  }
}
