<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="theme-color" content="#7e3e36">
  <meta name="description" content="98年水瓶座，家乡陕西，目前再上海从事Web前端开发工作；喜欢画画、打游戏、坐过山车、游泳。" />
  <meta name="image" content="https://dns.jaceyi.com/static/images//avatar.jpg" />
  <meta property="og:title" content="Jace’s website | 易进春的个人网站" />
  <meta property="og:url" content="https://jaceyi.com" />
  <meta property="og:description" content="98年水瓶座，家乡陕西，目前再上海从事Web前端开发工作；喜欢画画、打游戏、坐过山车、游泳。" />
  <meta property="og:image" content="https://dns.jaceyi.com/static/images//avatar.png" />
  <meta property="og:type" content="website" />
  <meta property="og:image:alt" content="Jace’s website | 易进春的个人网站" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Jace’s website | 易进春的个人网站</title>
  <link rel="shortcut icon" href="https://dns.jaceyi.com/static/images//favicon.ico" type="image/x-icon">
</head>

<body>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <div id="root">
    <%- htmlContent %>
  </div>
</body>

</html>
